
top_5.p
top_20.p
top_10.p
Recommendations_with_IBM-zh.ipynb
.DS_Store
user_item_matrix.p
data/articles_community.csv
data/user-item-interactions.csv
.ipynb_checkpoints/Recommendations_with_IBM-zh-checkpoint.ipynb
.ipynb_checkpoints/Recommendations_with_IBM-checkpoint.ipynb
